body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.cart-icon {
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.cart-content {
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    width: 300px;
}

.cart-container .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.cart-container .cart-item img {
    max-width: 50px;
    margin-right: 10px;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Para ocupar todo el ancho disponible */
}

 
.container-fluid{
    background: rgb(171,31,31);
    background: radial-gradient(circle, rgba(171,31,31,1) 0%, rgba(70,98,252,1) 100%);
  }
  .row{   justify-content: center;
    align-items: center;}
  /* Estilo del modal */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  }
  .producto {border: none;}
  /* Estilo del modal */
  .modal-content {
    background-color: #496450f5 !important;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); 
  }
  /* Botón para cerrar el modal */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Estilo del formulario dentro del modal */
  #formulario {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .boton, .borrar{
    background-color: #4caf50; /* Color de fondo verde */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .borrar{
    background-color: red
  }
  
 

  button:hover {
    background-color: #45a049; /* Color de fondo verde oscuro al pasar el mouse */
  }
  
  
  
  /*estilos de la pagina*/
  
  .titulo{text-align: center;}
  .producto {
    border: none 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  .producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .btn-agregar,
  .btn-borrar {
    margin-top: 10px;
  }
  
  #total {
    font-weight: bold;
  }
  
  
  