body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
#app {
  background-color: black;
  color: white; /* Para cambiar el color del texto a blanco para que sea legible en el fondo negro */
  padding: 20px; /* Añade un relleno para separar el contenido del borde del contenedor */
}

#formularioProducto {
  max-width: 400px; /* Establece un ancho máximo para el formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente dentro del contenedor */
}

#formularioProducto label,
#formularioProducto input,
#formularioProducto button {
  display: block;
  margin-bottom: 10px;
}

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  background: rgb(31,171,158);
  background: radial-gradient(circle, rgba(31,171,158,1) 0%, rgba(70,92,252,1) 100%);
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.cart-content {
  display: none;
  max-height: 200px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.cart-container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  flex: 1;
}

.cart-container .cart-item img {
  max-width: 50px;
  max-height: 50%; /* Añadido para evitar que la imagen supere la altura del contenedor */
  margin-right: 10px;
}



.navbar {
  background: rgb(171,31,31);
    background: radial-gradient(circle, rgba(171,31,31,1) 0%, rgba(70,98,252,1) 100%); /* Cambia el color de fondo de la barra de navegación */
  box-shadow: 0px 4px 2px -2px gray; /* Añade una sombra sutil */
}

.navbar-brand {
  color: #ffffff; /* Cambia el color del texto del logo */
  font-weight: bold; /* Hace el texto del logo más grueso */
  font-size: 1.5em; /* Aumenta el tamaño del texto del logo */
}

.navbar-brand img {
  border-radius: 50%; /* Da esquinas redondeadas al logo */
  margin-right: 10px; /* Añade un pequeño espacio entre el logo y el texto */
  transition: transform 0.3s; /* Añade una animación al ícono al pasar el mouse */
}

.navbar-brand:hover img {
  transform: scale(1.2); /* Hace que el ícono aumente de tamaño al pasar el mouse */
}

.navbar-toggler-icon {
  background-color: #ffffff; /* Cambia el color del ícono del botón desplegable */
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  transition: background-color 0.3s; /* Añade un efecto de transición al color de fondo de los elementos del menú */
}

.nav-item:hover {
  background-color: #2980b9; /* Cambia el color de fondo al pasar el mouse por encima de los elementos del menú */
}

.nav-link {
  color: #ffffff !important; /* Cambia el color del texto de los enlaces */
  font-size: 1.2em; /* Aumenta el tamaño del texto de los enlaces */
}

 
.container-fluid{
    background: rgb(171,31,31);
    background: radial-gradient(circle, rgba(171,31,31,1) 0%, rgba(70,98,252,1) 100%);
  }
  .row{   justify-content: center;
    align-items: center;}
  /* Estilo del modal */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  }
  .producto {border: none;}
  /* Estilo del modal */
  .modal-content {
    background-color: #496450f5 !important;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); 
  }
  /* Botón para cerrar el modal */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Estilo del formulario dentro del modal */
  #formulario {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .boton, .borrar{
    background-color: #4caf50; /* Color de fondo verde */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .borrar{
    background-color: red
  }
  
 

  button:hover {
    background-color: #45a049; /* Color de fondo verde oscuro al pasar el mouse */
  }
  
  
  
  /*estilos de la pagina*/
  
  .titulo{text-align: center;}
  .producto {
    border: none 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  .producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  
  
  